.odd {
    background-color: rgb(241, 173, 194);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth {
    background-color: rgb(131, 230, 131);
    font-weight: 700;
}  
